.main {
  background-color: gray;
}
.Input-search {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.main-row {
  margin-left: 40px;
}
.category {
  margin: 20px 0px 20px 60px;
  text-transform: capitalize;
}
